html, input, select, textarea {
    color: #222;
}

html {
    font-size: 1.2em;
    line-height: 1.4;
    scroll-behavior: smooth;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, img, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.material-icons {
    vertical-align: -25%;
}

/* ===== Parallax Effect ================================================== */

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimg-1 {
    background-image: url("../img/bg.webp");
    height: 30rem;
}

.bgimg-2 {
    background-image: url("../img/cpu.png");
    height: 20rem;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.caption span.border {
    color: #eee;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
    width: 100%;
    font-size: 4rem;
    font-family: 'Nunito', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    vertical-align: center
}

.caption span.border:hover {
    letter-spacing: .05em;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* ===== Box Shadows ================================================== */

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    position: relative;
    width: auto;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 2rem;
    margin-top: -5rem;
    padding: 2.5rem;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
}

div.card>div.container-image {
    vertical-align: top;
    width: 30%;
    margin: 20px 30px 0 0;
    float: left;
}

div.card>div.container-text {
    display: inline-block;
    width: 30%;
}

/* ===== Stylized Image ==================================================*/

.snip1554 {
    background-color: #045e78;
    color: #ffffff;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    text-align: left;
    overflow: hidden;
}

.snip1554 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1554:after {
    background-color: white;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    content: '';
    left: -100%;
    position: absolute;
    width: 200px;
    box-shadow: 0 0 100px white;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.snip1554 img {
    vertical-align: top;
    width: 100%;
    backface-visibility: hidden;
}

.snip1554 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: 1em;
    opacity: 0;
}

.snip1554 h3 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0;
    text-transform: uppercase;
}

.snip1554 h3 span {
    font-weight: 700;
}

.snip1554 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1554:hover>img, .snip1554.hover>img {
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.snip1554:hover:after, .snip1554.hover:after {
    left: 200%;
}

.snip1554:hover figcaption, .snip1554.hover figcaption {
    opacity: 1;
}

.links {
    display: inline;
}

.links>a {
    margin: 1rem;
    color: #555;
}

/* ===== Button Styles ================================================== */

button.snip0059 {
    font-family: 'Nunito', Arial, sans-serif;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px #49c5ff;
}

button.snip0059:before {
    content: '';
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    right: 50%;
    background-color: #ffffff;
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

button.snip0059:hover, button.snip0059.hover {
    color: #ffffff;
    -webkit-animation: flashText 0.5s;
    animation: flashText 0.5s;
}

button.snip0059:hover:before, button.snip0059.hover:before {
    left: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
}

button.snip0059:active:before {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

button.snip0059.blue {
    background-color: #1e5d87;
}

button.snip0059.red {
    background-color: #8e2a20;
}

button.snip0059.yellow {
    background-color: #49c5ff;
    /* background-image: linear-gradient(to right, #56ccf2, #2f80ed); */
}

@-webkit-keyframes flashText {
    0% {
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@keyframes flashText {
    0% {
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

/* ===== Navigation Bar ========================================================================== */

.nav {
    height: auto;
    width: 100%;
    background-color: #fefefe;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.00);
}

.nav>.nav-header {
    float: left;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    font-family: "Nunito", serif;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline-block;
    font-size: 1rem;
    margin-top: 3px;
}

.nav>.nav-links>a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #454545;
    transition: all 0.15s ease-in;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 132, 255, 0.05);
    border-bottom: 2px solid #405db4;
}

.nav>#nav-check {
    display: none;
}

/********************************************
General Styling
********************************************/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.12;
    color: #333;
    font: 21px Nunito, Helvetica Neue, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f5f5f5;
}

h1, h2, h3, h4, h5 {
    font-family: Nunito, sans-serif;
    font-weight: inherit;
    line-height: 1.2;
    margin: 0;
}

h1 {
    -webkit-transition: all .25s;
    transition: all .25s;
    font-size: 6.854em;
    font-size: 4vw;
    margin-top: -.45em;
    letter-spacing: 0;
    width: 100%;
}

h1:hover {
    letter-spacing: .05em;
    text-shadow: 2px 2px 0 #e3cd3b;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.1rem;
    font-size: 1.1rem;
    font-style: italic;
}

h4 {
    font-size: 2.05em;
    font-size: 2.05vw;
    font-weight: 700;
}

h5 {
    font-size: 1.75em;
}

small, .font_small {
    font-size: 0.618em;
    margin: 0;
}

a {
    -webkit-transition: all .25s;
    transition: all .25s ease-in;
    margin: 0;
    color: #0066ff;
    text-decoration: none;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
    letter-spacing: 0.05em;
}

h1 a {
    margin: 0;
    color: inherit;
    text-decoration: none;
    text-shadow: 2px 2px 0 #95a5a6;
}

h1 a:hover {
    color: inherit;
    text-shadow: 2px 2px 0 #e3cd3b;
}

li {
    text-align: left;
}

p {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    font-family: Nunito, sans-serif;
    margin: 0;
    font-size: 21px;
}
