.card::before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.75;
    position: absolute;
    transition: opacity 500ms;
    width: 100%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    width: 75%;
    margin: auto;
}

.card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.card::before {
    background: radial-gradient(
            600px circle at center bottom,
            var(--ctp-mocha-green),
            transparent 50%
    );
    filter: blur(150px);
    z-index: 3;
    pointer-events: none;
}

.card > .card-content {
    background-color: var(--ctp-mocha-surface0);
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    inset: 1px;
    padding: 1rem 5rem;
    position: relative;
    z-index: 2;
    justify-content: space-between;
}

.card-info {
    flex: 0 0 60%;
    position: relative;
}

.card-info > h4 {
    margin: 0;
}

.card-image {
    flex: 0 0 55%;
    margin-right: -10%;
    margin-bottom: -10%;
}

.card-image > img {
    width: 100%;
    height: auto;
}

@media all and (orientation:portrait) {
    #card {
        width: 90%;
    }

    .card > .card-content {
        flex-direction: column;
        padding: 10px;
    }

    .card-info {
        flex: 0;
    }

    .card-image {
        flex: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}
