.scifi-button {
    border: none;
    background-color: var(--ctp-mocha-sapphire);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px var(--ctp-mocha-sapphire);
}

.scifi-button:before {
    content: "";
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    right: 50%;
    background-color: white;
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-transition-delay: 0.3s;
}

.scifi-button:hover {
    color: white;
    -webkit-animation: flashText 0.5s;
    animation: flashText 0.5s;
}

.scifi-button:hover:before {
    left: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
}

.scifi-button:active:before {
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* Scifi Button Flash Text Animation */
@-webkit-keyframes flashText {
    0% {
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@keyframes flashText {
    0% {
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        color: transparent;
    }
    100% {
        color: white;
    }
}

@media (max-width: 641px) {
    .scifi-button {
        margin-top: 1rem;
    }
}
