---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
import CyberpunkGlitch from "../components/CyberpunkGlitch.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import IntroCard from "../components/IntroCard.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import SakanaWidget from "../components/SakanaWidget.astro";
---

<BaseLayout>
  <Header />
  <ScrollIndicator />
  <main class="app">
    <CyberpunkGlitch />
    <IntroCard />
    <ExperienceTimeline />
    <Projects />
    <Footer />
    <SakanaWidget />
  </main>
</BaseLayout>
