---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
import CyberpunkGlitch from "../components/CyberpunkGlitch.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import IntroCard from "../components/IntroCard.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import SakanaWidget from "../components/SakanaWidget.astro";
import { getImage } from "astro:assets";
import background from "../assets/images/background.webp";

const optimizedBackground = await getImage({src: background, format: 'webp', width: 1920});
---

<BaseLayout preloadImage={optimizedBackground.src}>
  <Header />
  <ScrollIndicator />
  <main class="app">
    <CyberpunkGlitch bgImage={optimizedBackground.src} />
    <IntroCard />
    <ExperienceTimeline />
    <Projects />
    <Footer />
    <SakanaWidget />
  </main>
</BaseLayout>
