.header {
    /* background-image: url("/src/images/bg.webp"); */
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.caption {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: clamp(100%, 10vw, 4rem);
}

.caption #title {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
}

.caption #title:hover {
    letter-spacing: 0.05rem;
}

.caption #subtitle {
    font-size: 50%;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: normal;
    padding: 0;
}

.header > svg {
    position: absolute;
    bottom: -1px; /* Covers up that weird line */
    left: 0;
    animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    transform-origin: bottom;
    pointer-events: none;
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

#header-typewriter {
    color: white;
    font-size: 120%;
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: fit-content;
    height: 90%;
}

.profile-details {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 #fff;
    width: 15rem;
    height: 15rem;
    margin-left: 100px;
    border-radius: 50%;
}

.profile-picture-background {
    background-image: url("/src/images/AboutMe.jpeg");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92%;
    width: 92%;
    background-position: 50%;
}

.caption-name {
    text-shadow: 0 0 50px #49c5ff;
}

.caption-buttons {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

@media only screen and (max-width: 810px) {
    .profile-container {
        flex-direction: column-reverse;
    }

    .profile-picture {
        margin: 60px 0 2rem 0;
        height: 13rem;
        width: 13rem;
    }

}
