.card-container {
	/*
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	*/
	display: inline-block;
}

.card {
	background: #fff;
	border-radius: 2px;
	height: auto;
	position: relative;
	width: auto;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 2rem;
	margin-top: -5rem;
	padding: 2.5rem;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.card-image {
	width: 30%;
	height: auto;
	object-fit: cover;
	float: left;
}

.card-content {
	width: 60%;
	height: auto;
	float: right;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.card-content, .card-image {
		width: 100%;
	}
}
