.App {
  display: block;
  text-align: center;
}

.sakana {
  position: fixed !important;
  left: calc(100vw - 220px);
  bottom: 0px;
  text-align: center;
}

.sakana-subtext {
  width: 200px;
}

@media only screen and (max-width: 810px) {
  .sakana {
    display: none;
  }
}
