/* Color Palette */
:root {
  --dark-shades: #30344C;
  --dark-accent: #6E788F;
  --main-color: #AEA9BC;
  --light-accent: #818390;
  --light-shades: #F1F2EF;
}

body {
  margin: 0;
  font-family: "Nunito Sans", 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: var(--dark-shades);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, p, ul, ol {
  color: var(--light-shades);
  margin: 1rem 0 0;
}
